@charset "UTF-08";
@font-face {
    font-family: lotr;
    src: url('RINGM___.TTF');
}
* {
    padding: 0px;
    margin: 0px;
}
header{
    font-size: 4vh;
    background-color: black;
    color: goldenrod;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.445);
}
header h1{
    font-family: lotr;
    padding-top: 30px;
}
header p{
    padding-bottom: 30px;
}
main{

    width: 100%;
}
div {
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.705);
    box-shadow: inset 3px 3px 3px 2px rgba(0, 0, 0, 0.432);
    background-position: top center;
    padding-top: 08vh;
    padding-bottom: 10vh;
}
div  > p {
    font-size: 02vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(73, 73, 73, 0.438);
    width: 40vw;
    margin-top: 20vh;
    margin-left: 10vw;
}
.theoden{
    background-image: url('../imagens/theoden.jpg');
    background-size: cover;
    height: 70vh;
    
    

}

 .gandalf{
    background-size: cover;
    background-image: url('../imagens/gandalf.jpg');
    height: 85vh;
    background-attachment: fixed;
}
.eowyn{
    background-image: url('../imagens/eowyn.jpg');
    background-position: center center;
    background-size: cover;
    height: 80vh;
}
.gandalf2 {
    
    background-image: url('../imagens/gandalf2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
}
.aragorn{
    background-image: url('../imagens/aragorn.jpg');
    background-size: cover;
    height: 85vh;
}
footer{
    text-align: center;
    color: goldenrod;
    background-color: black;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.445);
}